.DS_Store
.env
.pytest_cache/
__pycache__/
*.py[cod]
*.db
*.tsbuildinfo

.venv/
node_modules/
dist/

backend/generated_reports/*
!backend/generated_reports/.gitkeep
backend/uploaded_images/
work/
frontend/vite.config.js
frontend/vite.config.d.ts
